# Hello DBMS+ : De SQL aux Empreintes Carbone
Ce notebook présente un parcours complet d'analyse de données, alliant **requêtes SQL**, **exploration de tables multiples**, et **calcul de l’empreinte carbone**.  
L'objectif est de démontrer comment exploiter différentes sources de données pour générer des **insights pertinents**, à la fois pour la compréhension des données mondiales et pour l'évaluation environnementale.

Le notebook est structuré en deux grandes parties :  
1. **Jobs SQL 1 à 9** : exploration, filtrage, agrégation et jointures sur plusieurs tables (`world`, `students`, `nobel`, `SomeCompany`, etc.), permettant de comprendre et manipuler les données de manière progressive et pédagogique.  
2. **Big Job : Empreinte Carbone** : analyse des données de consommation énergétique par pays et région, calcul des émissions de CO2, visualisations et estimation du nombre d’arbres nécessaires pour compenser ces émissions.

In [1]:
# Imports

# Manipulation et analyse de données
import pandas as pd
import numpy as np

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

# Pour afficher les graphiques directement dans le notebook
%matplotlib inline

# SQL magic pour exécuter des requêtes directement dans les cellules
%load_ext sql


# formatage des DataFrames pour la lisibilité
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

## Exploration et Analyse de Données avec SQL

In [2]:
# connecteur Postgresql
%sql postgresql://postgres:5219--ZmId*@localhost:65432/postgres

## Big Job

### Nettoyage du fichier csv

In [10]:
# import des données du CSV dans un dataframe pandas
csv_path= r"C:\Users\Paul-Emmanuel Buffe\Desktop\la_plateforme\travaux_la_plateforme\hello-dbms\data\carbon-footprint-data.csv"
df =pd.read_csv(csv_path,delimiter=';', encoding= 'windows-1252') # Encodage spécifique

# Suppression des lignes vides
df.dropna(how='all', inplace=True) # on ne supprime que les lignes qui sont complètement vides

In [17]:
print(df.head(10))

      Country  Coal    Gas   Oil  Hydro  Renewable  Nuclear
0     Albania  0.00   0.00  0.00 100.00       0.00     0.00
1     Algeria  0.00  97.80  1.80   0.40       0.00     0.00
2      Angola  0.00   0.00 46.80  53.20       0.00     0.00
3   Argentina  2.90  47.70 13.80  29.00       2.50     4.10
4     Armenia  0.00  42.40  0.00  25.70       0.10    31.80
5   Australia 61.20  21.90  2.00   7.40       7.50     0.00
6     Austria  8.00   8.80  1.00  66.60      14.60     0.00
7  Azerbaijan  0.00  93.90  0.20   5.30       0.40     0.00
8     Bahrain  0.00 100.00  0.00   0.00       0.00     0.00
9  Bangladesh  2.00  82.00 14.70   1.10       0.30     0.00

### Création des tables
**Table "original_raw"**

In [14]:
# %%sql
# CREATE TABLE IF NOT EXISTS original_raw
#     country VARCHAR(100),
#     coal NUMERIC NULL,
#     gas NUMERIC NULL,
#     oil NUMERIC NULL,
#     hydro NUMERIC NULL,
#     renewable NUMERIC NULL,
#     nuclear NUMERIC NULL
# );

 * postgresql://postgres:***@localhost:65432/postgres
Done.

[]

In [20]:
# insertion des données depuis le df
# for i, row in df.iterrows():
#     sql= f"""
#             INSERT INTO original_raw (country, coal, gas, oil, hydro, renewable, nuclear)
#             VALUES ('{row['Country']}', '{row['Coal']}', '{row['Gas']}', '{row['Oil']}', '{row['Hydro']}', '{row['Renewable']}', '{row['Nuclear']}')
#           """
#     %sql {sql}

 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
(psycopg2.errors.SyntaxError) ERREUR:  erreur de syntaxe sur ou près de « Ivoire »
LINE 1: ..., oil, hydro, renewable, nuclear) VALUES ('Cote d'Ivoire', '...
                                                             ^

[SQL: INSERT INTO original_raw (country, coal, gas, oil, hydro, renewable, nuclear) VALUES ('Cote d'Ivoire', '0.0' , '69.9' , '6.1' , '23.1' , '0.8' , '0.0' )]
(Background on this error at: https://sqlalche.me/e/20/f405)
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.
 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.

**Table "country"**

In [21]:
# %%sql
# CREATE TABLE IF NOT EXISTS country(
#     country VARCHAR(100),
#     coal NUMERIC NULL,
#     gas NUMERIC NULL,
#     oil NUMERIC NULL,
#     hydro NUMERIC NULL,
#     renewable NUMERIC NULL,
#     nuclear NUMERIC NULL
# );

 * postgresql://postgres:***@localhost:65432/postgres
Done.

[]

In [22]:
# %%sql
# INSERT INTO country(country, coal, gas, oil, hydro, renewable, nuclear)
# SELECT 
#     LOWER(country), 
#     coal, 
#     gas, 
#     oil, 
#     hydro, 
#     renewable, 
#     nuclear
# FROM original_raw
# WHERE country NOT IN ('World', 'East Asia & Pacific', 'Europe & Central',
#                       'Latin America & Caribbean', 'Middle East & North Afrika',
#                       'North America', 'South Asia', 'Sub­Saharan Africa');

 * postgresql://postgres:***@localhost:65432/postgres
140 rows affected.

[]

**Table "world"**

In [23]:
# %%sql
# CREATE TABLE IF NOT EXISTS world(
#     region VARCHAR(100),
#     coal NUMERIC NULL,
#     gas NUMERIC NULL,
#     oil NUMERIC NULL,
#     hydro NUMERIC NULL,
#     renewable NUMERIC NULL,
#     nuclear NUMERIC NULL
# );

 * postgresql://postgres:***@localhost:65432/postgres
Done.

[]

In [25]:
# %%sql
# INSERT INTO world(region, coal, gas, oil, hydro, renewable, nuclear)
# SELECT LOWER(country), 
#         coal, 
#         gas, 
#         oil, 
#         hydro, 
#         renewable, 
#         nuclear
# FROM original_raw
# WHERE country IN ('World', 'East Asia & Pacific', 'Europe & Central',
#                       'Latin America & Caribbean', 'Middle East & North Afrika',
#                       'North America', 'South Asia', 'Sub­Saharan Africa');

 * postgresql://postgres:***@localhost:65432/postgres
8 rows affected.

[]