# Hello DBMS+ : De SQL aux Empreintes Carbone
Ce notebook présente un parcours complet d'analyse de données, alliant **requêtes SQL**, **exploration de tables multiples**, et **calcul de l’empreinte carbone**.  
L'objectif est de démontrer comment exploiter différentes sources de données pour générer des **insights pertinents**, à la fois pour la compréhension des données mondiales et pour l'évaluation environnementale.

Le notebook est structuré en deux grandes parties :  
1. **Jobs SQL 1 à 9** : exploration, filtrage, agrégation et jointures sur plusieurs tables (`world`, `students`, `nobel`, `SomeCompany`, etc.), permettant de comprendre et manipuler les données de manière progressive et pédagogique.  
2. **Big Job : Empreinte Carbone** : analyse des données de consommation énergétique par pays et région, calcul des émissions de CO2, visualisations et estimation du nombre d’arbres nécessaires pour compenser ces émissions.

In [2]:
# Imports

# Manipulation et analyse de données
import pandas as pd
import numpy as np

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns

# Pour afficher les graphiques directement dans le notebook
%matplotlib inline

# SQL magic pour exécuter des requêtes directement dans les cellules
%load_ext sql


# formatage des DataFrames pour la lisibilité
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

## Exploration et Analyse de Données avec SQL

In [3]:
# connecteur Postgresql
%sql postgresql://postgres:5219--ZmId*@localhost:65432/postgres
# %sql postgresql://postgres:****--****@localhost:*****/postgres

### Job 7

#### Création du dataset Euro2012

In [12]:
# %%sql

# -- Suppression des tables si elles existent
# DROP TABLE IF EXISTS goal CASCADE;
# DROP TABLE IF EXISTS game CASCADE;
# DROP TABLE IF EXISTS eteam CASCADE;

# -- Création de la table GAME
# CREATE TABLE game (
#     id INTEGER,
#     mdate VARCHAR(12),
#     stadium VARCHAR(100),
#     team1 VARCHAR(100),
#     team2 VARCHAR(100)
# );

# -- Création de la table ETEAM
# CREATE TABLE eteam (
#     id VARCHAR(3),
#     teamname VARCHAR(50),
#     coach VARCHAR(50)
# );

# -- Création de la table GOAL
# CREATE TABLE goal (
#     matchid INTEGER NOT NULL,
#     teamid VARCHAR(3),
#     player VARCHAR(100),
#     gtime INTEGER NOT NULL,
#     PRIMARY KEY (matchid, gtime)
# );

# -- Insertion des données GAME (31 matchs)
# INSERT INTO game VALUES 
# (1001,'8 June 2012','National Stadium, Warsaw','POL','GRE'),
# (1002,'8 June 2012','Stadion Miejski (Wroclaw)','RUS','CZE'),
# (1003,'12 June 2012','Stadion Miejski (Wroclaw)','GRE','CZE'),
# (1004,'12 June 2012','National Stadium, Warsaw','POL','RUS'),
# (1005,'16 June 2012','Stadion Miejski (Wroclaw)','CZE','POL'),
# (1006,'16 June 2012','National Stadium, Warsaw','GRE','RUS'),
# (1007,'9 June 2012','Metalist Stadium','NED','DEN'),
# (1008,'9 June 2012','Arena Lviv','GER','POR'),
# (1009,'13 June 2012','Arena Lviv','DEN','POR'),
# (1010,'13 June 2012','Metalist Stadium','NED','GER'),
# (1011,'17 June 2012','Metalist Stadium','POR','NED'),
# (1012,'17 June 2012','Arena Lviv','DEN','GER'),
# (1013,'10 June 2012','PGE Arena Gdansk','ESP','ITA'),
# (1014,'10 June 2012','Stadion Miejski (Poznan)','IRL','CRO'),
# (1015,'14 June 2012','Stadion Miejski (Poznan)','ITA','CRO'),
# (1016,'14 June 2012','PGE Arena Gdansk','ESP','IRL'),
# (1017,'18 June 2012','PGE Arena Gdansk','CRO','ESP'),
# (1018,'18 June 2012','Stadion Miejski (Poznan)','ITA','IRL'),
# (1019,'11 June 2012','Donbass Arena','FRA','ENG'),
# (1020,'11 June 2012','Olimpiyskiy National Sports Complex','UKR','SWE'),
# (1021,'15 June 2012','Donbass Arena','UKR','FRA'),
# (1022,'15 June 2012','Olimpiyskiy National Sports Complex','SWE','ENG'),
# (1023,'19 June 2012','Donbass Arena','ENG','UKR'),
# (1024,'19 June 2012','Olimpiyskiy National Sports Complex','SWE','FRA'),
# (1025,'21 June 2012','National Stadium, Warsaw','CZE','POR'),
# (1026,'22 June 2012','PGE Arena Gdansk','GER','GRE'),
# (1027,'23 June 2012','Donbass Arena','ESP','FRA'),
# (1028,'24 June 2012','Olimpiyskiy National Sports Complex','ENG','ITA'),
# (1029,'27 June 2012','Donbass Arena','POR','ESP'),
# (1030,'28 June 2012','National Stadium, Warsaw','GER','ITA'),
# (1031,'1 July 2012','Olimpiyskiy National Sports Complex','ESP','ITA ');

# -- Insertion des données ETEAM (16 équipes)
# INSERT INTO eteam VALUES 
# ('POL','Poland','Franciszek Smuda'),
# ('RUS','Russia','Dick Advocaat'),
# ('CZE','Czech Republic','Michal Bílek'),
# ('GRE','Greece','Fernando Santos'),
# ('NED','Netherlands','Bert van Marwijk'),
# ('DEN','Denmark','Morten Olsen'),
# ('GER','Germany','Joachim Löw'),
# ('POR','Portugal','Paulo Bento'),
# ('ESP','Spain','Vicente del Bosque'),
# ('ITA','Italy','Cesare Prandelli'),
# ('IRL','Republic of Ireland','Giovanni Trapattoni'),
# ('CRO','Croatia','Slaven Bilic'),
# ('UKR','Ukraine','Oleh Blokhin'),
# ('SWE','Sweden','Erik Hamrén'),
# ('ENG','England','Roy Hodgson'),
# ('FRA','France','Laurent Blanc');

# -- Insertion des données GOAL (76 buts)
# INSERT INTO goal VALUES 
# (1001,'POL','Robert Lewandowski',17),
# (1001,'GRE','Dimitris Salpingidis',51),
# (1002,'RUS','Alan Dzagoev',15),
# (1002,'RUS','Alan Dzagoev',79),
# (1002,'RUS','Roman Shirokov',24),
# (1002,'RUS','Roman Pavlyuchenko',82),
# (1002,'CZE','Václav Pilar',52),
# (1003,'GRE','Theofanis Gekas',53),
# (1003,'CZE','Petr Jirácek',3),
# (1003,'CZE','Václav Pilar',6),
# (1004,'POL','Jakub Blaszczykowski',57),
# (1004,'RUS','Alan Dzagoev',37),
# (1005,'CZE','Petr Jirácek',72),
# (1006,'GRE','Giorgos Karagounis',45),
# (1007,'DEN','Michael Krohn-Dehli',24),
# (1008,'GER','Mario Gómez',72),
# (1009,'DEN','Nicklas Bendtner',41),
# (1009,'DEN','Nicklas Bendtner',80),
# (1009,'POR','Pepe (footballer born 1983)',24),
# (1009,'POR','Hélder Postiga',36),
# (1009,'POR','Silvestre Varela',87),
# (1010,'NED','Robin van Persie',73),
# (1010,'GER','Mario Gómez',24),
# (1010,'GER','Mario Gómez',38),
# (1011,'POR','Cristiano Ronaldo',28),
# (1011,'POR','Cristiano Ronaldo',74),
# (1011,'NED','Rafael van der Vaart',11),
# (1012,'DEN','Michael Krohn-Dehli',24),
# (1012,'GER','Lukas Podolski',19),
# (1012,'GER','Lars Bender',80),
# (1013,'ESP','Cesc Fàbregas',64),
# (1013,'ITA','Antonio Di Natale',61),
# (1014,'IRL','Sean St Ledger',19),
# (1014,'CRO','Mario Mandžukic',3),
# (1014,'CRO','Mario Mandžukic',49),
# (1014,'CRO','Nikica Jelavic',43),
# (1015,'ITA','Andrea Pirlo',39),
# (1015,'CRO','Mario Mandžukic',72),
# (1016,'ESP','Fernando Torres',4),
# (1016,'ESP','Fernando Torres',70),
# (1016,'ESP','David Silva',49),
# (1016,'ESP','Cesc Fàbregas',83),
# (1017,'ESP','Jesús Navas',88),
# (1018,'ITA','Antonio Cassano',35),
# (1018,'ITA','Mario Balotelli',90),
# (1019,'FRA','Samir Nasri',39),
# (1019,'ENG','Joleon Lescott',30),
# (1020,'UKR','Andriy Shevchenko',55),
# (1020,'UKR','Andriy Shevchenko',62),
# (1020,'SWE','Zlatan Ibrahimovic',52),
# (1021,'FRA','Jérémy Ménez',53),
# (1021,'FRA','Yohan Cabaye',56),
# (1022,'SWE','Glen Johnson (English footballer)',49),
# (1022,'SWE','Olof Mellberg',59),
# (1022,'ENG','Andy Carroll',23),
# (1022,'ENG','Theo Walcott',64),
# (1022,'ENG','Danny Welbeck',78),
# (1023,'ENG','Wayne Rooney',48),
# (1024,'SWE','Zlatan Ibrahimovic',54),
# (1024,'SWE','Sebastian Larsson',90),
# (1025,'POR','Cristiano Ronaldo',79),
# (1026,'GER','Philipp Lahm',39),
# (1026,'GER','Sami Khedira',61),
# (1026,'GER','Miroslav Klose',68),
# (1026,'GER','Marco Reus',74),
# (1026,'GRE','Georgios Samaras',55),
# (1026,'GRE','Dimitris Salpingidis',89),
# (1027,'ESP','Xabi Alonso',19),
# (1027,'ESP','Xabi Alonso',90),
# (1030,'GER','Mesut Özil',90),
# (1030,'ITA','Mario Balotelli',20),
# (1030,'ITA','Mario Balotelli',36),
# (1031,'ESP','David Silva',14),
# (1031,'ESP','Jordi Alba',41),
# (1031,'ESP','Fernando Torres',84),
# (1031,'ESP','Juan Mata',88);

# -- Vérification
# SELECT 'Tables créées avec succès!' AS status;
# SELECT 'Matchs' AS table_name, COUNT(*) AS nb_lignes FROM game
# UNION ALL
# SELECT 'Équipes' AS table_name, COUNT(*) AS nb_lignes FROM eteam
# UNION ALL
# SELECT 'Buts' AS table_name, COUNT(*) AS nb_lignes FROM goal;

In [15]:
%%sql
SELECT *
FROM game
LIMIT 3

 * postgresql://postgres:***@localhost:65432/postgres
10 rows affected.

[(1001, '8 June 2012', 'National Stadium, Warsaw', 'POL', 'GRE'),
 (1002, '8 June 2012', 'Stadion Miejski (Wroclaw)', 'RUS', 'CZE'),
 (1003, '12 June 2012', 'Stadion Miejski (Wroclaw)', 'GRE', 'CZE'),
 (1004, '12 June 2012', 'National Stadium, Warsaw', 'POL', 'RUS'),
 (1005, '16 June 2012', 'Stadion Miejski (Wroclaw)', 'CZE', 'POL'),
 (1006, '16 June 2012', 'National Stadium, Warsaw', 'GRE', 'RUS'),
 (1007, '9 June 2012', 'Metalist Stadium', 'NED', 'DEN'),
 (1008, '9 June 2012', 'Arena Lviv', 'GER', 'POR'),
 (1009, '13 June 2012', 'Arena Lviv', 'DEN', 'POR'),
 (1010, '13 June 2012', 'Metalist Stadium', 'NED', 'GER')]

#### 1. Analyse des cardinalités - Base UEFA EURO 2012

#### Relation 1 : Eteam ←→ Game (plays in)

**0..* (côté Game)** : Une équipe participe à zéro ou plusieurs matchs

**1..1 (côté Eteam)** : Un match est joué par exactement une équipe pour chaque rôle (team1 ou team2)

---

#### Relation 2 : Game ←→ Goal (scored in)

**0..* (côté Goal)** : Un match contient zéro à plusieurs buts

**1..1 (côté Game)** : Un but est marqué dans exactement un match

---

#### Relation 3 : Eteam ←→ Goal (scored for)

**0..* (côté Goal)** : Une équipe marque zéro à plusieurs buts

**1..1 (côté Eteam)** : Un but est marqué par exactement une équipe

#### 2. Affichage du numéro de match et le nom du joueur pour tous les buts marqués par l'Allemagne

In [19]:
%%sql
SELECT 
matchid,
player
FROM goal
WHERE teamid = 'GER'

 * postgresql://postgres:***@localhost:65432/postgres
10 rows affected.

[(1008, 'Mario Gómez'),
 (1010, 'Mario Gómez'),
 (1010, 'Mario Gómez'),
 (1012, 'Lukas Podolski'),
 (1012, 'Lars Bender'),
 (1026, 'Philipp Lahm'),
 (1026, 'Sami Khedira'),
 (1026, 'Miroslav Klose'),
 (1026, 'Marco Reus'),
 (1030, 'Mesut Özil')]

#### 3. Affichage des colonnes id, stadium, team1, team2 pour le match dont l’id est 1012.

In [21]:
%%sql
SELECT 
id,
stadium,
team1,
team2
FROM game
WHERE id = 1012

 * postgresql://postgres:***@localhost:65432/postgres
1 rows affected.

[(1012, 'Arena Lviv', 'DEN', 'GER')]

#### 4. Affichage player, teamid, stadium et mdate de chaque but allemand.

In [30]:
%%sql
SELECT 
go.player,
go.teamid,
ga.stadium
FROM goal go 
INNER JOIN game ga on (matchid=id)
WHERE go.teamid = 'GER'

 * postgresql://postgres:***@localhost:65432/postgres
10 rows affected.

[('Mario Gómez', 'GER', 'Arena Lviv'),
 ('Mario Gómez', 'GER', 'Metalist Stadium'),
 ('Mario Gómez', 'GER', 'Metalist Stadium'),
 ('Lars Bender', 'GER', 'Arena Lviv'),
 ('Lukas Podolski', 'GER', 'Arena Lviv'),
 ('Marco Reus', 'GER', 'PGE Arena Gdansk'),
 ('Miroslav Klose', 'GER', 'PGE Arena Gdansk'),
 ('Sami Khedira', 'GER', 'PGE Arena Gdansk'),
 ('Philipp Lahm', 'GER', 'PGE Arena Gdansk'),
 ('Mesut Özil', 'GER', 'National Stadium, Warsaw')]

#### 5. Affichage team1, team2 et player pour chaque but marqué par un joueur appelé Mario.

In [32]:
%%sql
SELECT 
ga.team1,
ga.team2,
go.player
FROM goal go 
INNER JOIN game ga on (matchid=id)
WHERE go.player LIKE '%Mario%'

 * postgresql://postgres:***@localhost:65432/postgres
9 rows affected.

[('GER', 'POR', 'Mario Gómez'),
 ('NED', 'GER', 'Mario Gómez'),
 ('NED', 'GER', 'Mario Gómez'),
 ('IRL', 'CRO', 'Mario Mandžukic'),
 ('IRL', 'CRO', 'Mario Mandžukic'),
 ('ITA', 'CRO', 'Mario Mandžukic'),
 ('ITA', 'IRL', 'Mario Balotelli'),
 ('GER', 'ITA', 'Mario Balotelli'),
 ('GER', 'ITA', 'Mario Balotelli')]

#### 6. Jointure de la table goal et la table eteam sur les clés id - teamid.

In [34]:
%%sql
SELECT 
*
FROM goal go
INNER JOIN eteam et ON go.teamid = et.id
LIMIT 3

 * postgresql://postgres:***@localhost:65432/postgres
3 rows affected.

[(1004, 'POL', 'Jakub Blaszczykowski', 57, 'POL', 'Poland', 'Franciszek Smuda'),
 (1001, 'POL', 'Robert Lewandowski', 17, 'POL', 'Poland', 'Franciszek Smuda'),
 (1004, 'RUS', 'Alan Dzagoev', 37, 'RUS', 'Russia', 'Dick Advocaat')]

## Big Job

### Nettoyage du fichier csv

#### Notes : 

1. **CSV et format**  
   - Encodage spécifique : `WIN1252`  
   - Délimiteur : `;`  
   - Ligne 143 complètement vide → problème d’import dans PostgreSQL  

2. **Séparation du dataset en deux tables**  
   - **Table `country`** → toutes les lignes avant `"World"` (noms de pays)  
   - **Table `world`** → ligne `"World"` + toutes les lignes régionales  

3. **Minuscule pour les noms**  
   - Tous les noms de pays sont stockés en minuscules (`LOWER(country)`) pour faciliter les futures requêtes  

4. **Colonnes des tables**  
   - `country` : colonnes → `country, coal, gas, oil, hydro, renewable, nuclear`  
   - `world` : colonnes → `region, coal, gas, oil, hydro, renewable, nuclear`

In [8]:
# import des données du CSV dans un dataframe pandas
csv_path= r"C:\Users\Paul-Emmanuel Buffe\Desktop\la_plateforme\travaux_la_plateforme\hello-dbms\data\raw\carbon-footprint-data.csv"
df =pd.read_csv(csv_path,delimiter=';', encoding= 'windows-1252') # Encodage spécifique

# Suppression des lignes vides
df.dropna(how='all', inplace=True) # on ne supprime que les lignes qui sont complètement vides

In [9]:
print(df.head(3))

   Country  Coal   Gas   Oil  Hydro  Renewable  Nuclear
0  Albania  0.00  0.00  0.00 100.00       0.00     0.00
1  Algeria  0.00 97.80  1.80   0.40       0.00     0.00
2   Angola  0.00  0.00 46.80  53.20       0.00     0.00

### Création des tables
**Table "original_raw"**

In [ ]:
# %%sql
# CREATE TABLE IF NOT EXISTS original_raw
#     country VARCHAR(100),
#     coal NUMERIC NULL,
#     gas NUMERIC NULL,
#     oil NUMERIC NULL,
#     hydro NUMERIC NULL,
#     renewable NUMERIC NULL,
#     nuclear NUMERIC NULL
# );

In [ ]:
# insertion des données depuis le df
# for i, row in df.iterrows():
#     sql= f"""
#             INSERT INTO original_raw (country, coal, gas, oil, hydro, renewable, nuclear)
#             VALUES ('{row['Country']}', '{row['Coal']}', '{row['Gas']}', '{row['Oil']}', '{row['Hydro']}', '{row['Renewable']}', '{row['Nuclear']}')
#           """
#     %sql {sql}

**Table "country"**

In [ ]:
# %%sql
# CREATE TABLE IF NOT EXISTS country(
#     country VARCHAR(100),
#     coal NUMERIC NULL,
#     gas NUMERIC NULL,
#     oil NUMERIC NULL,
#     hydro NUMERIC NULL,
#     renewable NUMERIC NULL,
#     nuclear NUMERIC NULL
# );

In [ ]:
# %%sql
# INSERT INTO country(country, coal, gas, oil, hydro, renewable, nuclear)
# SELECT 
#     LOWER(country), 
#     coal, 
#     gas, 
#     oil, 
#     hydro, 
#     renewable, 
#     nuclear
# FROM original_raw
# WHERE country NOT IN ('World', 'East Asia & Pacific', 'Europe & Central',
#                       'Latin America & Caribbean', 'Middle East & North Afrika',
#                       'North America', 'South Asia', 'Sub­Saharan Africa');

**Table "world"**

In [ ]:
# %%sql
# CREATE TABLE IF NOT EXISTS world(
#     region VARCHAR(100),
#     coal NUMERIC NULL,
#     gas NUMERIC NULL,
#     oil NUMERIC NULL,
#     hydro NUMERIC NULL,
#     renewable NUMERIC NULL,
#     nuclear NUMERIC NULL
# );

In [ ]:
# %%sql
# INSERT INTO world(region, coal, gas, oil, hydro, renewable, nuclear)
# SELECT LOWER(country), 
#         coal, 
#         gas, 
#         oil, 
#         hydro, 
#         renewable, 
#         nuclear
# FROM original_raw
# WHERE country IN ('World', 'East Asia & Pacific', 'Europe & Central',
#                       'Latin America & Caribbean', 'Middle East & North Afrika',
#                       'North America', 'South Asia', 'Sub­Saharan Africa');

**Vérification des tables crées**

In [ ]:
%sql SELECT * FROM country LIMIT 3;

In [ ]:
%sql SELECT * FROM world LIMIT 3;

### Préparation et analyse des sources d’énergie des pays pour l’étude des émissions de CO2

**Analyse des données au niveau mondial**

In [ ]:
%%sql
WITH filtered AS (
  SELECT *
  FROM world
  WHERE region = 'world'
)
SELECT 'coal' AS source, coal AS value FROM filtered
UNION ALL
SELECT 'gas' AS source, gas AS value FROM filtered
UNION ALL
SELECT 'oil' AS source, oil AS value FROM filtered
UNION ALL
SELECT 'hydro' AS source, hydro AS value FROM filtered
UNION ALL
SELECT 'renewable' AS source, renewable AS value FROM filtered
UNION ALL
SELECT 'nuclear' AS source, nuclear AS value FROM filtered;

**Analyse des différents mix energétique des grands ensembles régionaux : Energies Fossiles VS Autres Energies**

In [ ]:
%%sql
SELECT
    region,
    CEIL(gas + oil + coal) AS fossil_energie,
    ROUND(hydro + renewable + nuclear) AS others
FROM world WHERE region = 'world'
UNION ALL
SELECT*
FROM (SELECT 
region,
    (gas + oil + coal) AS fossil_energie,
    ROUND(hydro + renewable + nuclear) AS others
FROM world
ORDER BY 2 DESC LIMIT 1)
UNION ALL
SELECT*
FROM (SELECT 
region,
    (gas + oil + coal) AS fossil_energie,
    ROUND(hydro + renewable + nuclear) AS others
FROM world
ORDER BY 2 asc LIMIT 1)

**Régions du monde pour lesquelles le charbon rentre dans plus du quart de leur production d'electricité**

In [ ]:
%%sql
SELECT 
    DISTINCT region,
    MAX(coal) AS max_coal
FROM world
WHERE 1=1
AND region NOT IN ('world')
AND coal > 25
group by 1
ORDER BY 2 DESC

**Analyse de l'utilisation des énérgies dites "propres" par région.**

**Energies renouvelables:**

In [ ]:
%%sql
SELECT 
    DISTINCT region,
    MAX(renewable) AS max_renewable
FROM world
WHERE region NOT IN ('world')
group by 1
ORDER BY 2 DESC
LIMIT 1

**Energie Nucléaire**

In [ ]:
%%sql
SELECT 
    DISTINCT region,
    MAX(nuclear) AS max_nuclear
FROM world
WHERE region NOT IN ('world')
group by 1
ORDER by 2 DESC
LIMIT 1

**Energie Hydrolique**

In [ ]:
%%sql
SELECT 
    region,
    MAX(hydro) AS max_hydro
FROM world
GROUP BY region
ORDER BY max_hydro DESC
LIMIT 1

**Analyses des mix energétiques de la communanuté mondiale**

**Les pays avec plus de 66 % d'énergies dites propres**

In [ ]:
%%sql
SELECT
country,
coal,
gas,
oil,
nuclear,
hydro,
renewable,
nuclear + hydro + renewable AS "total_energies_propres"
FROM country
WHERE nuclear + hydro + renewable >= 66
ORDER by 8 DESC

**Les pays avec plus de 66 % d'énergies fossiles**

In [ ]:
%%sql
SELECT
country,
coal,
gas,
oil,
nuclear,
hydro,
renewable,
coal + gas + oil AS "total_energies_fossiles"
FROM country
WHERE coal + gas + oil >= 66
ORDER by 8 DESC

**Distribution mondiale des mix energétiques de pays**

In [ ]:
%%sql
SELECT
*
FROM country
WHERE coal >= 66 
ORDER BY 2 DESC

In [ ]:
%%sql
SELECT
*
FROM country
WHERE renewable >= 33
ORDER BY 2 DESC

In [ ]:
%%sql
SELECT
*
FROM country
WHERE nuclear >= 50

## Synthèse des observations sur la répartition mondiale des sources d’énergie électrique

### Vue d’ensemble mondiale

* Les énergies fossiles (pétrole, gaz, charbon) représentent 67 % de la production mondiale d’électricité.
* Les énergies dites propres (nucléaire, hydraulique, renouvelables) représentent seulement 33 %.
* Certaines régions atteignent des niveaux extrêmes : 96 % d’énergies fossiles pour seulement 4 % d’énergies propres.

### Analyse par régions

* L’énergie hydraulique constitue la principale composante des énergies propres dans la plupart des régions.
* L’Amérique latine est la région la moins dépendante des énergies fossiles (45 %), grâce à son importante production hydraulique.
* Trois régions utilisent encore le charbon à plus de 50 % dans leur mix électrique.
* En Amérique du Nord, le charbon représente encore 35 % de la production.
* L’Europe est la seule région ayant développé à la fois :

  * le nucléaire (22,4 %),
  * les énergies renouvelables (10,5 %).
    → Ensemble, ces deux sources ne couvrent néanmoins qu’un tiers du mix énergétique européen.

### Analyse par pays

* Grâce à l’hydroélectricité, 34 pays atteignent plus de 66 % d’énergies propres dans leur mix électrique.
* À l’opposé, 69 pays utilisent plus de 66 % d’énergies fossiles.
* Plus de 13 pays produisent plus des deux tiers de leur électricité à partir du charbon, notamment :

  * Chine : 73 %,
  * Inde : 75 %.
* Certains pays cumulant pourtant de fortes parts de renouvelables restent encore dépendants du charbon :

  * Exemple : Danemark, 56 % renouvelables mais 34 % charbon.
* Quelques exceptions notables :

  * France : 78 % d’électricité produite grâce au nucléaire.
  * Kenya : environ 90 % issus de l’hydraulique et des renouvelables.

## Calculateur de CO2
### Création de la table energy_emission_factors

In [ ]:
%%sql

DROP TABLE IF EXISTS energy_emission_factors;

CREATE TABLE energy_emission_factors (
    energy_source TEXT PRIMARY KEY,
    min_gco2_kwh NUMERIC,
    median_gco2_kwh NUMERIC,
    max_gco2_kwh NUMERIC
);

### Alimentation de la table avec les données fournies

In [ ]:
%%sql

INSERT INTO energy_emission_factors VALUES
('coal',       740, 820, 910),
('gas',        410, 490, 650),
('oil',        620, 740, 890),
('hydro',        1,  24, 2200),
('solar',       26,  41,  60),
('nuclear',    3.7,  12, 110);

In [ ]:
%%sql
SELECT *
FROM energy_emission_factors

### Observation – Valeur maximale des émissions pour l’hydroélectricité

La valeur maximale parfois citée pour l’hydroélectricité (jusqu’à ~2200 gCO₂e/kWh) correspond à des **cas extrêmes et rares**, principalement liés à des barrages tropicaux où la décomposition de la biomasse inondée génère d’importantes émissions de méthane (CH₄).  
Cette valeur ne reflète **pas une situation représentative** de la majorité des installations hydroélectriques. Dans ce projet, la **valeur médiane (24 gCO₂e/kWh)** est donc privilégiée comme référence, et la borne maximale est laissée non définie afin d’éviter un biais dans l’analyse.